@import "../../sass/index.scss";

.letsTalkTitle{
 font-size: rem(40);
 color: $white;

 @include devices(0px,480px){
    font-size: rem(32);
 }

 @include devices(480px,800px){
    width: 50%;
 }
}

.letsTalkText{
    font-size: rem(16);
    color: white;
}
.letsTalkButton{
    @include buttonStyle($darkGray, $white);
}
.bgImage{
    background-color: $primaryColor;
   

          @include devices(0px,480px){
            background-image: url(../../assets/letstalk/mobileCircle.png);
            background-size: "contain";
            background-position: "right";
            background-repeat: "no-repeat";
        }

       
            background-image: url(../../assets/letstalk/circle.png);
            background-size: "contain";
            background-position: "right";
            background-repeat: "no-repeat";
          
            
}
