@import "../sass/index.scss";

.container{
    background-color: $cardLight;
}

.contactTitle{
    font-size: rem(40);
    color: $primaryColor;

    @include devices(0px, 480px){
        font-size: rem(32);
    }
}

.contactText{
    font-size: rem(16);
    color: $darkGray;

}